#
# Kernel configuration file for the CCUSR
#

config CCUSR_RAID
	tristate "CCUSR HW-RAID Adapter"
	depends on PCI && SCSI
	default m
	help
	  This driver supports C*Core CCUSR series of RAID controllers.
	  To compile this driver as a module, choose M here: the module will
	  be called ccusr.
